<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.uhome.uhomecontent.mapper.LinksMapper">


  <!-- 添加一条记录 -->
  <insert id="add" parameterType="Links" keyProperty="linkId" useGeneratedKeys="true">
  		insert into links
  				(name,linkUrl,sort,creatTime)
  			values( #{name},
  					#{linkUrl},
  					#{sort},
  					CURRENT_TIMESTAMP
  					)
  </insert>

    <!-- 更新链接 -->
    <update id="update" parameterType="Links">
		update links
		set 
		  name = #{name},
		  linkUrl = #{linkUrl},
		  sort = #{sort},
		  updateTime=CURRENT_TIMESTAMP
		where linkId = #{linkId}
  </update>
  
  <!-- 删除一条数据 -->
  <delete id="del" parameterType="java.lang.Integer">
		delete from links where linkId = #{linkId}
  </delete>
  
  <!-- 根据linkId查询一条数据 -->
   <select id="get" parameterType="integer" resultType="Links">
        select * from links
		where linkId = #{linkId}
  </select>
  
  <!-- 查询所有数据 -->
	<select id="searchLinks" parameterType="map" resultType="Links">
		select
				linkId,
				name,
				linkUrl,  
				sort
		from links 
		group by linkId
		limit #{start},#{limit}
	</select>

	<!-- 根据分页查询商家数量 -->
	<select id="searchLinksCount" parameterType="map" resultType="Integer">
		select
		count(linkId)
		from links
	</select>
<!-- 查询所有数据 -->
	<select id="listLinks" resultType="Links">
		select *  from links
		order by IFNULL(sort,(select max(sort)+1 from links)) asc,updateTime desc 
	</select>
	
	<!-- 根据网站名称查询数据 -->
	<select id="getLinksByName" resultType="Links">
        select * from links
		where name = #{name}
  </select>
</mapper>