<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.uhome.uhomereport.mapper.MemberSellReportMapper">
	
	<select id="searchMemberSellReports" parameterType="map" resultType="MemberSellReport">
		SELECT m.* FROM 
		<include refid="selectMemberSellInfo"/>
		LIMIT #{start},#{limit}
	</select>
	
	<select id="searchMemberSellCount" parameterType="map" resultType="integer">
		SELECT COUNT(m.userId) FROM 
		<include refid="selectMemberSellInfo"/>
	</select>
	
	<select id="listMemberSellReports" parameterType="map" resultType="MemberSellReport">
		SELECT m.* FROM 
		<include refid="selectMemberSellInfo"/>
	</select>
	
	<sql id="selectMemberSellInfo">
		(SELECT u.userId,u.username AS memberName,r.brandName,uinfo.gender,SUM(r.price) AS totalPrice,
			COUNT(r.orderItemId) AS orderNum FROM user u 
			LEFT JOIN user_urole userrole ON u.userId = userrole.userId  
			LEFT JOIN user_info uinfo ON u.userId = uinfo.userId
			INNER JOIN (SELECT b.name AS brandName,o.userId,item.orderItemId,o.createTime,b.brandId,
							CASE WHEN ISNULL(item.rebatePrice) THEN item.closingCost*item.num
							ELSE item.rebatePrice END AS price FROM order_head o 
							INNER JOIN order_item item ON o.orderId = item.orderId AND o.status in (
								${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_WAITSEND},
								${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_SEND},
								${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_FINISHED}
							)
							LEFT JOIN product_sku psku  ON item.productSkuId = psku.productSkuId
							LEFT JOIN product p ON psku.productId = p.productId
							LEFT JOIN product_category pc ON p.productCategoryId = pc.productCategoryId
							LEFT JOIN brand b ON p.brandId = b.brandId
						) r 
			ON u.userId = r.userId WHERE userrole.uroleId = ${@com.ytoxl.module.uhome.uhomebase.dataobject.UserInfo@USER_ROLE_BUYER}
			<include refid="where"/>	
		 	GROUP BY u.username,r.brandName ORDER BY r.createTime DESC
		 ) m
	</sql>
	
	<sql id="where">
		<if test="brandId != '' and brandId != null">and r.brandId = #{brandId}</if>
		<if test="beginTime != null and beginTime != ''">
			and DATE_FORMAT(r.createTime,'%Y-%m-%d') &gt;= #{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and DATE_FORMAT(r.createTime,'%Y-%m-%d') &lt;= #{endTime}
		</if>
  	</sql>
  
</mapper>