<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ytoxl.module.uhome.uhomereport.mapper.SalesDetailReportMapper">

	<sql id="select">
		(select sell.companyName as companyName,
		brd.`name` as brandName,
		cate.`name` as categoryName,
		pl.startTime as planStartTime,
		pl.endTime as planEndTime,
	  	sku.productSkuId as productSkuId,
	  	sell.sellerId,
		brd.brandId,
		pl.type
		from plan pl LEFT JOIN plan_product plpro on pl.planId = plpro.planId
		LEFT JOIN product pro on plpro.productId = pro.productId
		left join seller sell on pro.sellerId = sell.sellerId
		left join brand brd on pro.brandId = brd.brandId
		left join product_category cate ON pro.productCategoryId = cate.productCategoryId
		left join product_sku sku on pro.productId = sku.productId)
		t
	</sql>

	<sql id="where">
		<where>
			t.type=${@com.ytoxl.module.uhome.uhomebase.dataobject.Plan@TYPE_SPECIAL_SELLER}
			<if test="startTime != '' and startTime != null">
				and DATE_FORMAT(t.planStartTime,'%Y-%m-%d') &gt;= #{startTime} 
			</if>
			<if test="endTime != '' and endTime != null">
				and DATE_FORMAT(t.planEndTime,'%Y-%m-%d') &lt;= #{endTime} 
			</if>
			<if test="sellerId != '' and sellerId != null">
				and t.sellerId = #{sellerId}
			</if>
			<if test="brandId != '' and brandId != null">
				and t.brandId = #{brandId}
			</if>
		</where>
	</sql>

	<sql id="orderBy">
		<if test="sort != null and sort != ''">
			ORDER BY ${sort}
			<if test="dir != null and dir != ''">
				${dir}	
			</if>
		</if>
	</sql>

	<!-- 查询成功订单数量及总额 -->
	<select id="searchSalesDetailReports" parameterType="map"
		resultType="SalesDetailReport">
		SELECT * FROM
		<include refid="select" />
		<include refid="where" />
		<include refid="orderBy" />
		LIMIT #{start},#{limit}
	</select>

	<!-- 查询成功订单数量及总额 -->
	<select id="searchSalesDetailReportsCount" parameterType="map"
		resultType="integer">
		SELECT COUNT(*) FROM
		<include refid="select" />
		<include refid="where" />
		<include refid="orderBy" />
	</select>
	
	  <!-- 报表导出列表 -->
  	<select id="listSalesDetailReports" parameterType="map" resultType="SalesDetailReport">
   		SELECT *  FROM 
   		<include refid="select"/>
	  	<include refid="where"/>
  		<include refid="orderBy"/>
  	</select>	
  	
  	<!-- 查询排期内的数量及总额 -->
	<select id="searchTotalNumAndAmount" parameterType="map"
		resultType="SalesDetailReport">
		select SUM(item.num) as salesNum, 
			   SUM(IFNULL(item.rebatePrice,item.closingCost*item.num)) as salesPrice 
			from order_head head LEFT JOIN order_item item on head.orderId = item.orderId
			where head.`status` in (${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_WAITSEND},
							${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_SEND},
							${@com.ytoxl.module.uhome.uhomeorder.dataobject.OrderHead@STATUS_FINISHED})  
				and item.productSkuId = #{productSkuId}
				and DATE_FORMAT(head.createTime,'%Y-%m-%d %H:%i:%S') between #{planStartTime} and #{planEndTime}
				GROUP BY item.productSkuId
	</select>
</mapper>