/**
 * Created by JetBrains PhpStorm.
 * User: admin
 * Date: 13-3-11
 * Time: 下午3:32
 * To change this template use File | Settings | File Templates.
 */
@import '../lib/global.less';
@import '../lib/header.less';
@import '../lib/footer.less';
@import '../common.less';
@import '../lib/crumbs.less';
.ema-wrap {
    border: solid 1px #ddd;
    padding: 15px 10px;
    .ema-cont {
        border: solid 1px #88cbcd;
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        p {
            margin-bottom: 10px;
        }
    }
}